{% extends "includes/base.html" %}

<!-- <!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
    <link href="{% static 'css/homePage.css' %}" rel="stylesheet" />
</head>
<body>
    <h1>HomePage</h1>
    {% if isLoggedIn is True %}
        {{ details.username }}
        <img src="{{ details.profile }}" />
    {% endif %}
    <p>Top rated guides</p>
    <ul>
        {% for guide in guides.guides %}
        <li>{{ guide.name }} takes {{ guide.rate }}.</li>
        {% endfor %}
    </ul>
    <p>Recent Reviews</p>
    <ul>
        {% for guide in reviews.reviews %}
        <li>{{ guide.name }} takes {{ guide.message }}.</li>
        {% endfor %}
    </ul>
</body>
</html> -->


<!-- ============================================================================================= -->
<!-- {% if user.name != '' %}
 <p>{{ user.name}}</p>
{% endif %}
<form action="{% url 'search' %}" method="GET">
    <input type="text" name="q" />
    <button type="submit">Search</button>
</form>

<a href="{% url 'login' %}">Login</a>
<a href="{% url 'signup'%}?q=True">Signup as Guide</a>

<p>topRated Guides</p>
<ul>
    {% for guide in guides %}
    <li>{{ guide.user.name }}</li>
    {% endfor %}
</ul>
<p>Recent Reviews</p>
<ul>
    {% for review in reviews%}
    <li><p>{{ review.review  }}</p><b>{{ review.rating }}</b></li>
    {% endfor %}
</ul> -->

<!-- =============================================================================================== -->

{% block content%}
    <!-- /Nav -->
    <section id="hero">
        <div class="w-100">
            <div class="overlay"></div>
            <img src="{% static 'images/wall-3-1.jpg' %}" class="w-100" />
            <div class="hero-content">
                <div class="container">
                    <span>FIND A LOCAL</span>
                    <span>TO SHOW YOU AROUND</span>
                    <form action="{% url 'search' %}" method="GET">
                        <input type="text" name="q" placeholder="Where next..?" />
                        <button class="searchBtn" type="submit">BROWSE LOCALS</button>
                    </form>
                    <p>Top Destinations: Bhopal, Indore, Mumbai.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div>
                <h1 class="text-center mt-5">Top Rated Guide's</h1>
            </div>
            <div class="row">
                {% for guide in guides %}
                <div class="col-md-6  mt-5">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-auto d-flex" style="background-color: lightgrey;">
                                <!-- <img src="{% static 'images/wall-1.jpg' %}" style="max-width: 200px;" class="img-fluid" alt=""> -->
                                     <!-- <img src="{{guide.user.profile}}" style="max-width: 200px; max-height: 200px;" class="img-fluid" alt=""> -->
                                     <div style="width: 180px; max-width: 180px; height: 200px; max-height: 200px; background-image: url('{{guide.user.profile}}');background-size: cover;background-position: center;background-repeat: no-repeat;"></div>
                            </div>
                            <div class="col">
                                <div class="card-block px-2 d-flex flex-column justify-content-between h-100">
                                    <div class="card-head w-100 d-flex justify-content-between align-items-center">
                                        <div class="Name m-2">
                                            <p><a href="{% url 'guide' guide.id %}">{{ guide.user.name }}</a><br />
                                                <span>{{ guide.location }}, India</span></p>
                                        </div>
                                        <div class="Price">
                                            <h4>&#8377; {{ guide.rate }} /day</h4>
                                        </div>
                                    </div>
                                    <div class="Quote">
                                        <p><i class="fa fa-quote-left"></i></p>
                                        <p class="text-center"><i>{{ guide.quote }}.</i></p>
                                        <p class="text-right"><i class="fa fa-quote-right"></i></p>
                                    </div>
                                    <div class="feedback">
                                        <div class="row">
                                            <div class="col-md-6 text-center">
                                                <h6>Reviews</h6><br />
                                                <p>0</p>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <h6>Ratings</h6><br />
                                                <p>
                                                    {% with ''|center:5 as range %}
                                                    {% for _ in range %}
                                                    {% if forloop.counter <= 3 %}
                                                    <i class="fa fa-star"></i>
                                                    {% else %}
                                                    <i class="fa fa-star-o"></i>
                                                    {% endif %}
                                                    {% endfor %}
                                                    {% endwith %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-footer w-100 text-muted">
                            Footer stating cats are CUTE little animals
                        </div> -->
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mt-5"></div>
        </div>
    </section>
    <section id="quote">
        <div class="content">
            <h1>Discover City with Locals.</h1>
        </div>
    </section>
    <section id="reviews">
        <h1 class="text-center mt-5">Top Reviews</h1>
        <div class="mt-5"></div>
        <div class="container">
            <div class="row">
                {% for trip in trips %}
                <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <!-- <img class="card-img-top" src="{% static 'images/wall-1.jpg' %}" alt="Card image cap"> -->
                        <!-- <img class="card-img-top" src="{{trip.guide.user.profile}}" alt="Card image cap"> -->
                        <div class="card-img-top" style="background-color: lightgrey;">
                            <div
                                style="width: 100%,290px; height: 190px; max-height: 190px; background-image: url('{{trip.creator.profile}}');background-size: cover;background-position: center;background-repeat: no-repeat;">
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <p class="card-text">Ratings : 
                                {% with ''|center:5 as range %}
                                {% for _ in range %}
                                    {% if forloop.counter <= 3 %}
                                        <i class="fa fa-star"></i>
                                    {% else %}
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                {% endfor %}
                                {% endwith %}
                            </p>
                            <p class="card-text">
                                <div class="Quote">
                                    <p><i class="fa fa-quote-left"></i></p>
                                    <p class="text-center"><i>{{ trip.reviews.review }}.</i></p>
                                    <p class="text-right"><i class="fa fa-quote-right"></i></p>
                                </div>
                            </p>
                            <a href="{% url 'guide' trip.guide.id %}" class="btn btn-primary">View Guide</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mt-5"></div>
        </div>
    </section>
  {% endblock %}