<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">

    <title>LocalMate !</title>
</head>

<body>
    <!-- Nav -->
    <nav>
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <img class="logo" src="{% static 'images/LOGO.svg' %}" />
                </div>
                <div class="right">
                    <div class="mr-5">
                        <a href="meet.html" class="link">Meet a local</a>
                        <a href="about.html" class="link">About us</a>
                    </div>
                    {% if isAuthenticated == True %}
                        <button class="connect mx-2" onclick="window.location.href = `{% url 'login' %}`;">CONNECT</button>
                        <button class="signup mx-2 " onclick="window.location.href = `{% url 'signup'%}?q=True`;">SIGN UP AS
                        A LOCAL</button>
                    {% else %}
                        <div class="d-flex align-items-center" style="max-width:100px;">
                            <i style="font-size: 26px;color: #07689F;" class="fa fa-user-circle-o mr-3"></i>
                            <i><a style="text-decoration: none;color:  #07689F;" href="{% url 'profile' %}" class="mr-5">Sourabh</a></i>
                            <form action="{% url 'logout' %}" method="POST">
                                <button class="btn btn-primary" type="submit">Logout</button>
                            </form>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
    <!-- /Nav -->

    {% block content %}

    {% endblock %}
    <footer>
        <div class="container">
            <div class="content">
                <div>
                    <span class="logo">Local<b>Mate</b></span>
                    <p>Discover city with locals.</p>
                </div>
                <div>
                    <div id="social">
                        <a class="facebookBtn smGlobalBtn" href="#"></a>
                        <a class="twitterBtn smGlobalBtn" href="#"></a>
                        <a class="googleplusBtn smGlobalBtn" href="#"></a>
                        <a class="linkedinBtn smGlobalBtn" href="#"></a>
                        <a class="pinterestBtn smGlobalBtn" href="#"></a>
                        <a class="tumblrBtn smGlobalBtn" href="#"></a>
                        <a class="rssBtn smGlobalBtn" href="#"></a>
                    </div>
                    <p align="center">Local<strong>Mate</strong> &copy; 2020.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>