<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <title>LocalMate !</title>
</head>

<body>
    <!-- Nav -->
    <nav>
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <img class="logo" src="images/LOGO.svg" />
                </div>
                <div class="right">
                    <div class="mr-5">
                        <a href="meet.html" class="link">Meet a local</a>
                        <a href="about.html" class="link">About us</a>
                    </div>
                    <button class="connect mx-2">CONNECT</button>
                    <button class="signup mx-2 ">SIGN UP AS A LOCAL</button>
                    
                </div>
            </div>
        </div>
    </nav>
    <!-- /Nav -->
    <section id="hero">
        <div class="w-100">
            <img src="images/wall-3-1.jpg" class="w-100"/>
        </div>
    </section>
    <section>
        <div class="container">
            <div><h1 class="text-center mt-5">Top Rated Guide's</h1></div>
            <div class="row">
                <div class="col-md-6  mt-5">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title">Title</h4>
                                    <p class="card-text">Description</p>
                                    <a href="#" class="btn btn-primary">BUTTON</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card-footer w-100 text-muted">
                            Footer stating cats are CUTE little animals
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title">Title</h4>
                                    <p class="card-text">Description</p>
                                    <a href="#" class="btn btn-primary">BUTTON</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title">Title</h4>
                                    <p class="card-text">Description</p>
                                    <a href="#" class="btn btn-primary">BUTTON</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5"></div>
        </div>
    </section>
    <section id="quote">
        <div class="content">
            <h1>Discover City with Locals.</h1>
        </div>
    </section>
    <section id="reviews">
        <div> Top Reviews </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title">Title</h4>
                                    <p class="card-text">Description</p>
                                    <a href="#" class="btn btn-primary">BUTTON</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title">Title</h4>
                                    <p class="card-text">Description</p>
                                    <a href="#" class="btn btn-primary">BUTTON</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="//placehold.it/200" class="img-fluid" alt="">
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h4 class="card-title">Title</h4>
                                    <p class="card-text">Description</p>
                                    <a href="#" class="btn btn-primary">BUTTON</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="content">
                <div>
                    <span class="logo">Local<b>Mate</b></span>
                    <p>Discover city with locals.</p>
                </div>
                <div>
                    <div id="social">
                        <a class="facebookBtn smGlobalBtn" href="#"></a>
                        <a class="twitterBtn smGlobalBtn" href="#"></a>
                        <a class="googleplusBtn smGlobalBtn" href="#"></a>
                        <a class="linkedinBtn smGlobalBtn" href="#"></a>
                        <a class="pinterestBtn smGlobalBtn" href="#"></a>
                        <a class="tumblrBtn smGlobalBtn" href="#"></a>
                        <a class="rssBtn smGlobalBtn" href="#"></a>
                    </div>
                    <p align="center">Local<strong>Mate</strong> &copy; 2020.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>